<h2>Editing the configuration file for apache - CentOS 7</h2>.

Let's edit the configuration file for apache, the global location of the configuration file for apache is as follows

<pre>
/etc/httpd/conf/httpd.conf
</pre>

Let's edit it with vi.

<pre>
sudo vi /etc/httpd/conf/httpd.conf
</pre>

<h3>Directory where you can add your apache configuration</h3>.

Editing global configuration files can be a bit scary.

In apache, a configuration directory is prepared for additional configuration.

<pre>
/etc/httpd/conf/conf.d
</pre>

If you place a file with the extension ".conf" in this directory, it will be loaded automatically.

For example, if you place a configuration file for a virtual host, the file name should look like the following

<pre
vhost.conf
</pre>.
