<h2>Location of apache access log - CentOS 7</h2

The apache access log can be found at the following location

<pre>
/var/log/httpd/access_log
</pre>

The access log is automatically routed by default, and the four previous logs are also in the same directory.

<pre>
access_log-20200112
access_log-20200119
access_log-20200126
access_log-20200202
</pre>

<h3>How to check the access log</h3>

As a way to check the access log, we will introduce a command that can output and check the contents of a file.

<ul>.
  <li><a href="https://en.linux.perlzemi.com/blog/20200113083613.html">cat - Output file contents</a></li>
  <li><a href="https://en.linux.perlzemi.com/blog/20190401171737.html">vi - CUI Text Editter</a></li>
</ul>
