<h2>htpasswd - Create a password file for Apache Basic Authentication - CentOS 7</h2

The htpasswd command can be used to create a password file for Apache Basic Authentication.

The password file name is the name of the password file to be created. The user name is the name of the user you want to add or change the password for.

<pre>.
htpasswd -c password file name user name
</pre>.

Let's actually create the password file. The password file name is ".htpasswd" in a hidden file. The user name is "kimotosystem".

<pre>.
htpasswd -c .htpasswd kimotosystem
</pre>.

You will be asked for a password, so type it in and press Enter.

You will be asked for the password again, type it in and press Enter.

This password file is used to set up basic authentication for Apache.


Translated with www.DeepL.com/Translator (free version)