<h2> Apache error log location - CentOS 7 </h2>

The apache error log is located at:

<pre>
/var/log/httpd/error_log
</pre>

By default, the error logs are automatically routed, and the four past logs are also in the same directory.

<pre>
error_log-20200112
error_log-20200119
error_log-20200126
error_log-20200202
</pre>

<h3> How to check the error log </h3>

As a method to check the error log, I will introduce a Linux command that can output and check the contents of the file.

<ul>
  <li> <a href="https://en.linux.perlzemi.com/blog/20200202124238.html"> head command --output the beginning of the file</a> </li>
  <li> <a href="https://en.linux.perlzemi.com/blog/20200203124238.html"> tail command-output the end of the file</a> </li>
  <li> <a href="https://en.linux.perlzemi.com/blog/20200113083613.html"> cat --output the contents of the file</a> </li>
  <li> <a href="https://en.linux.perlzemi.com/blog/20190401171737.html"> vi --Text editor for command line</a> </li>
</ul>