<h2> Apache reverse proxy settings --CentOS 7 </h2>

Reverse proxy settings in Apache.

<pre>
<VirtualHost *: 80>
   ServerName www.mydomain.example
  
   <Proxy *>
     Require all granted
   </Proxy>

   ProxyRequests Off
   ProxyPreserveHost On
   ProxyPass / http: // localhost: 10000 / keepalive = On
   ProxyPassReverse / http: // localhost: 10000 /
   RequestHeader set X-Forwarded-Proto "https"
</VirtualHost>
</pre>

<h3> Explanation of reverse proxy settings </h3>

<h4> Pass all access to the proxy </h4>

By default, access to the proxy is blocked, so set it to pass.

<pre>
   <Proxy *>
     Require all granted
   </Proxy>
</pre>