<h2>Testing the Apache Configuration File - CentOS 7</h2

To test the Apache configuration file, use the "-t" option of the apachectl command.

<pre>
apachectl -t
</pre>

If the configuration file is correct, the output will look like this

<pre>
apachectl -t
Syntax OK
</pre>

<h3>If the configuration file passes the test, can we be sure to reboot? </H3>.

If the configuration file passes the test, it does not guarantee that it will reboot.

We can confirm that it is wrong, but we cannot guarantee that it will reboot.

In my experience, it is often around the SSL settings that the reboot is not possible.

To avoid a disastrous situation, be sure to back up your configuration file with the <a href="https://linux.perlclub.net/blog/20191203081250.html">cp command</a> before making any changes.

<pre>
cp httpd.conf httpd.conf.20200203
</pre>

The trick is to make changes to the Apache configuration file one at a time so that you can quickly revert to them. If you change a lot of places and get an error, it will be difficult to identify the cause.
