<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">CentOS</span>
    </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">Package Management</span>
    </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>Installing redis - Redis Server Fast storage of volatile data and Pub/Sub</h2>

Since the standard package repositories of CentOS do not include a Redis server, we will install the Extended Package for Enterprise Linux (EPEL) repository.

<pre>
sudo yum -y install epel-release
</pre>

To install the Redis server, install the redis package.

<pre>
sudo yum -y install redis
</pre>

<h4>Verify that the Redis server has been installed.</h4>

Let's check that the Redis server has been installed by using the systemctl status command.

<pre>
sudo systemctl status redis
</pre>

To start it, issue the following command

<pre> sudo systemctl start redis
sudo systemctl start redis
</pre>

<h3>Redis Client - redis-cli</h4

When you install the Redis server, a command line application called redis-cli will also be installed to run Redis commands.

<ul>.
  <li><a href="/blog/20200720125704.html">redis-cli - Run Redis commands from Redis client</a></li>
</ul>

<h3>Uses of a Redis Server</h3

There are two main uses for the Redis server.

<h4>Fast storage of volatile data</h4>

The Redis server can store volatile data at high speed.

Volatile data is data that is temporary and is scheduled to be erased.

Session information is erased after a certain period of time, and even if it is erased, the user is simply asked to start over from the login screen. Session information is volatile data.
Also, since the session must be retrieved with each HTTP request, Redis performs better than relational databases such as <a href="https://mariadb.perlclub.net/">MariaDB</a>.

<h4>Push Notification via Pub/Sub</h4>

Redis has a push notification mechanism called Pub/Sub, which makes it relatively easy to implement real-time chat and real-time updates.

Redis has a Web API, so if your Web framework supports non-blocking, you can access Redis with non-blocking HTTP requests.

For a sample of real-time chat using Mojolicious, WebSocket, and Redis, please refer to the following

<ul>.
  <li><a href="https://en.mojolicious.perlzemi.com/blog/20100403127089.html">Sample of real-time chat using Mojolicious, WebSocket, and Redis</a>
</ul>
