<h2>Install GeckoDriver - Cent OS 7</h2

Let's install GeckoDriver to control Firefox programmatically. We'll place the GeckoDriver binary directly, assuming you're running a 64-bit version of Linux.

<pre>
firefox -v
</pre>

Version.

<pre>
Mozilla Firefox 78.6.0esr
</pre>

Install the GeckoDriver.

<pre>
cd /usr/local/src
wget https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz
tar -xf geckodriver-v0.26.0-linux64.tar.gz
mv geckodriver /usr/local/bin/
</pre>

Check the version of GeckoDriver.

<pre> geckodriver --version
geckodriver --version
</pre>

Output result of the version.

<pre>
geckodriver 0.26.0 (e9783a644016 2019-10-10 13:38 +0000)
</pre>

If there are any problems, please search the web for Firefox and GeckoDriver versions and check them.

<h3>How to do JavaScript-enabled web scraping in Perl? </h3

To do JavaScript-enabled web scraping in Perl, you need to install <a href="/blog/20210106090837.html">Firfox</a> and <a href="https://perlzemi.com/blog/ 20091116124667.html">Perl module</a>, you will also need <a href="https://perlzemi.com/blog/20210105145700.html">Selenium::Remote::Driver</a>.
