<h2> Install Chrome Driver - Cent OS 7 </h2>

Install the Chrome Driver to automatically control your Google Chrome browser programmatically using Selenium. Place the Chrome Driver binaries directly. It is assumed that it is a 64-bit version of Linux. Confirmed with Cent OS 7.

<pre>
google-chrome --version
</pre>

version.

<pre>
Google Chrome 87.0.4280.88
</pre>

Install the Chrome Driver.

<pre>
cd /usr/local/src
wget https://chromedriver.storage.googleapis.com/87.0.4280.88/chromedriver_linux64.zip
unzip chromedriver_linux64.zip
mv chromedriver /usr/local/bin/
</pre>

Check the version of Chrome Driver.

<pre>
chromedriver --version
</pre>

The output result of the version.

<pre>
ChromeDriver 86.0.4240.22 (398b0743353ff36fb1b82468f63a3a93b4e2e89e-refs/branch-heads/4240@{#378})
</pre>

If there is a problem, please search the web for the version of Google Chrome and Chrome Driver to check.

<h3> Install Google Chrome </h3>

The Chrome Driver is required to automatically run the Google Chrome browser programmatically. Installation of Google Chrome on CentOS is explained below.

<ul>
  <li> <a href="/blog/20210104090837.html"> Install Google Chrome</a> </li>
</ul>

<h3> How to programmatically perform JavaScript-compatible web scraping? </H3>

To programmatically perform JavaScript-enabled web scraping, you need the Selenium library provided by the programming language. Perl-<a href="https://perlzemi.com/blog/20210105145700.html"> Selenium :: Remote :: Driver</a>, PHP, Pyhton, Ruby and other Selenium libraries.