<h2> Install Google Chrome - CentOS 7 </h2>

Install Google Chrome. I tried it on CentOS 7.

Add a repository for Google Chrome.

<pre>
vi /etc/yum.repos.d/google-chrome.repo
</pre>

<pre>
[google-chrome]
name=google-chrome
baseurl=http://dl.google.com/linux/chrome/rpm/stable/x86_64
enabled=1
gpgcheck=1
gpgkey=https://dl-ssl.google.com/linux/linux_signing_key.pub
</pre>

Install Google Chrome with the yum command.

<pre>
yum -y install google-chrome-stable
</pre>

Let's check the version.

<pre>
google-chrome --version
</pre>

This is the output result of the version.

<pre>
Google Chrome 87.0.4280.88
</pre>

<h3> Run Google Chrome headless </h3>

Headless execution means accessing a website without a GUI screen. Run Google Chrome headless and take a screenshot.

<pre>
google-chrome --disable-setuid-sandbox --no-sandbox --headless --disable-gpu --dump-dom https://www.chromestatus.com/
</pre>

It is OK if the HTML tree is displayed on the screen.

<h3> How to do JavaScript-compatible web scraping in Perl? </H3>

To do JavaScript-enabled web scraping in Perl, in addition to Google Chrome, <a href="/blog/20210103090837.html"> Install Chrome Driver</a> and <a href="https://perlzemi.com" /blog/20091116124667.html"> Perl module</a> <a href="https://perlzemi.com/blog/20210105145700.html"> Selenium::Remote::Driver</a> is required.