<h2> CentOS Server Construction</h2>

<b> CentOS Development Environment Construction </b> introduces the procedure for building a Web system development environment using Perl using CentOS. The ability to build scalable, real-time web-enabled web applications on Linux virtual machines is a feature of Perl web system development.

I will explain how to build a web server on CentOS, create a Perl web application, set up to connect from the web server with a reverse proxy, and publish it to the outside.

As of July 29, 2020, the version of CentOS has been confirmed on CentOS 7, but unless otherwise specified, it is assumed that it will also work on CentOS 8.

<h3> Package management </h3>

<ul>
  <li> <a href="/blog/20200529085516.html"> Package management on CentOS</a> </li>
</ul>

<h3> Redis Server-Volatile Data Storage Server </h3>

<ul>
  <li> <a href="/blog/20200225174004.html"> Redis server start / stop / restart / status check</a> </li>
  <li> <a href="/blog/20200720125704.html"> redis-cli  - Run Redis command from Redis client</a> </li>
</ul>

<h3> OS update </h3>

<ul>
  <li> <a href="/blog/20200204080644.html"> Update the minor version of CentOS  - CentOS7, CentOS8</a> </li>
</ul>

<h3> Application and library installation </h3>

<ul>
  <li> <a href="/blog/20200210101036.html"> Install ImageMagick  - CentOS7, CentOS8</a> </li>
</ul>

<h3> Font </h3>

<ul>
  <li> <a href="/blog/20211124121003.html">Install Fonts</a> </li>
  <li> <a href="/blog/20200317114157.html"> Font file directory  - CentOS7, CentOS8</a> </li>
</ul>

<h3> Apache  - Web server </h3>

<ul>
  <li> <a href="/blog/20200115175810.html"> Apache installation and start / stop / auto start settings  - CentOS 7</a> </li>
  <li> <a href="/blog/20200114175810.html"> Check if the Apache configuration file is correct  - CentOS 7</a> </li>
  <li> <a href="/blog/20200130120019.html"> Apache reverse proxy settings  - CentOS 7</a> </li>
  <li> <a href="/blog/20200112182708.html"> Install mod_ssl for HTTPS connection with Apache  - CentOS 7</a> </li>
  <li> <a href="/blog/20200117182708.html"> Use Let's encrypt to get an SSL certificate  - CentOS 7</a> </li>
  <li> <a href="/blog/20200203102632.html"> Restart apache  - CentOS 7</a> </li>
  <li> <a href="/blog/20200202102632.html"> Edit the apache configuration file  - CentOS 7</a> </li>
  <li> <a href="/blog/20200203120019.html"> Apache access log location  - CentOS 7</a> </li>
  <li> <a href="/blog/20200131120019.html"> Apache error log location  - CentOS 7</a> </li>
  <li> <a href="/blog/20200128102632.html"> Check the start / restart / stop of Apache in the log  - CentOS 7</a> </li>
  <li> <a href="/blog/20200127102632.html"> Test Apache config file  - CentOS 7</a> </li>
  <li> <a href="/blog/20200126080644.html"> Combining IP and basic authentication with Apache  - CentOS 7</a> </li>
  <li> <a href="/blog/20200116182708.html"> htpasswd  - Creating a password file for Apache basic authentication  - CentOS 7</a> </li>
</ul>

<h3> Update information </h3>

<ul>
  <li> <a href="/list.html"> New articles</a> </li>
  <li> <a href="https://twitter.com/hashtag/Perl%E3%82%AF%E3%83%A9%E3%83%96%E6%9B%B4%E6%96%B0% E6% 83% 85% E5% A0% B1 "> Updates</a> </li>
</ul>

<h3> CentOS related information </h3>

Information related to CentOS.

<h4> Linux server management </h4>

Click here to learn about the vi text editor, basic Linux commands, and how Linux works.

<ul>
  <li> <a href="https://en.linux.perlzemi.com/"> Introduction to Linux Server Management</a> </li>
</ul>

<h4> Linux distribution </h4>

Linux distributions that can be compared to CentOS include <a href="https://en.ubuntu.perlzemi.com/"> Ubuntu</a> and <a href="https://ja.wikipedia.org/wiki/". Fedora "> Fedora</a>, <a href="https://ja.wikipedia.org/wiki/Debian"> Debian</a>, <a href="https://ja.wikipedia.org/ wiki / Rocky_Linux "> Rocky Linux</a>, <a href="https://ja.wikipedia.org/wiki/Red_Hat_Enterprise_Linux"> Red Hat Enterprise Linux</a>.

<h4> Scripting language </h4>

Scripting languages ​​available for CentOS server management include <a href="https://en.perlzemi.com/"> Perl</a> and <a href="https://ja.wikipedia.org/wiki/". There are Python "> Python</a>, <a href="https://ja.wikipedia.org/wiki/Ruby"> Ruby</a> and so on.